<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

   <session-factory>
     
      <property name = "hibernate.connection.driver_class">
         com.mysql.cj.jdbc.Driver
      </property>
      
      <!-- dac is the database name -->
      
      <property name = "hibernate.connection.url">
         jdbc:mysql://localhost:3306/dac
      </property>
      
      <property name = "hibernate.connection.username">
         root
      </property>
      
      <property name = "hibernate.connection.password">
         Kapu@123
      </property>
      <!-- Setting other configuration prop like dialect,show,update -->
      <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
      <property name="hibernate.show_sql">true</property>
      <property name="hibernate.hbm2ddl.auto">update</property>
      <!-- List of XML mapping files -->
      <mapping resource = "Course.hbm.xml"/>
      
   </session-factory>
</hibernate-configuration>